body {
    background-color: #e7ecf0;
}
 
nav {
    background-color: #ffffff;
    border-bottom: 1px solid #adb1b4;
    margin-bottom: 10px;
}

img.tw-user-small {
    height: 40px;
}
 
img.tw-user-medium {
    height: 50px;
}
 
#nav-search {
    border-radius: 20px;
    background-color: #e7ecf0;
    width: 60%;
}
 
#nav-tweet-btn {
    border-radius: 20px;
    background-color: #67b1f9;
    color: #ffffff;
}


.new-tweet-row {
    background-color: #eaf5fe;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tweet {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #edf1f4;
    border-radius: 10px;
}
 
.tweet-username {
    font-weight: bold;
}
 
.tweet-arrow {
    padding-right: 25px;
}
 
.tweet-text,
.tweet-media {
    padding-right: 10px;
}

img.pic-background{
    max-width: 255px;
}

img.profile-pic{
    border: 3px solid #0d0e20;
    border-color: #ffffff;
}

.corner-back{
    max-width: 255px;
    max-height: 100px;
    overflow: hidden;
}

.tweetnew{
    justify-content: center;
}

.content_cctv{
    margin-left: 10px;
}

.contentnew{
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 120px;
}

#iconn{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* #tweet-text{
    background-color: rebeccapurple;
    max-width: 100px;

} */