{% extends "lab12/base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<h1 class="title">
  Welcome, {{ current_user.name }}!!
</h1>
<div class="column is-4 is-offset-4">
  <h3 class="title">Change Profile</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST">
      <div id="email-name">
        <div class="field">
          <div class="control">
            <input class="input is-large" type="email" name="email" value="{{ current_user.email }}" placeholder="Email"
              autofocus="">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input is-large" type="text" name="name" value="{{ current_user.name }}" placeholder="Name"
              autofocus="">
          </div>
        </div>
        <input class="button is-block is-info is-large is-fullwidth" type="button" name="button" onclick="hidebottom()" value="Confirm">
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-large" type="hidden" name="email_old" value="{{ current_user.email }}" autofocus="">
        </div>
      </div>
      <div id="password" hidden="hidden">
        <div class="field">
          <div class="control">
            <input class="input is-large" type="password" name="password" value="" placeholder="Confirm Password"
              autofocus="">
          </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth" >Change Profile</button>
      </div>
    </form>
  </div>
</div>
<script>
  function hidebottom(){
    if($('#password').attr('hidden')){
      $('#email-name').attr('hidden', 'hidden');
      $('#password').removeAttr('hidden');
    } else {
      $('#password').attr('hidden', 'hidden');
      $('#email-name').removeAttr('hidden');
    }
  }
</script>
{% endblock %}