@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(#0d0e20,#5c2165);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    height: 1318px;
    width: 1000px;
    background: #fff;
    overflow: hidden;
}

.main-page .sidebar{
    height: 1318px;
    width: 300px;
    background: #434343;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.main-page .sidebar #mypic{
    margin-top: 40px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.Contact{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}


.Contact ul {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 55px;
}

.Contact ul li{
    list-style: none;
    margin-top: 10px;
}

.Contact ul li .icon{
    font-size: 20px;
}

.Contact ul li span{
    margin-left: 10px;
}

.Education{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

.Education ul{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 55px;
}

.Education ul li{
    display: flex;
    list-style: none;
    margin-top: 10px;
    flex-direction: column;
}

.Education ul li .Date-school{
    font-size: 13px;
    color: rgb(194, 194, 194);
}

.Computer-skill{
    margin-top: 30px;
}

.Computer-skill ul{
    margin-top: 20px;
}

.Computer-skill ul li{
    margin-top: 5px;
}

.Hobbies{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.Hobbies .Hobbies-header{
    margin-right: auto;
    margin-left: auto;
}

.Hobbies ul{
    margin-top: 20px;
    margin-left: 30px;
}

.main-infor{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Personal-data{
    display: flex;
    flex-direction: column;
    width: 680px;
}

.Personal-data H1{
    background: #b8b8b8;
    width: 680px;
}

.Personal-data p{
    margin-top: 15px;
    font-size: 23px;
    margin-bottom: 15px;
}

.Personal-data ul li{
    list-style: none;
}

.About-me{
    display: flex;
    flex-direction: column;
    width: 680px;
    margin-top: 20px;
}

.About-me H1{
    background: #b8b8b8;
    width: 680px;
}

.About-me p{
    margin-top: 20px;
}

.Skills-summary{
    display: flex;
    flex-direction: column;
    width: 680px;
    margin-top: 20px;
}

.Skills-summary H1{
    background: #b8b8b8;
    width: 680px;
}

.Skills-summary ul li{
    list-style: none;
    margin-top: 20px;
}

.Skills-summary .skill{
    display: flex;
}

.Skills-summary .skill .c1{

    height: 420px;
    width: 400px;
}

.Skills-summary .skill .c2{
    display: flex;
    flex-direction: column;

    height: 420px;
    width: 280px;
    align-items: center;
}

.Skills-summary .skill .item{
    background: #cfcfcf;
    height: 20px;
    width: 200px;
    margin-top: 24.5px;
    border-radius: 10px;
}

.Skills-summary .skill .item1{
    background: #8a8a8a;
    height: 20px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Skills-summary .skill .item2{
    background: #8a8a8a;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Skills-summary .skill .item3{
    background: #8a8a8a;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Skills-summary .skill .item4{
    background: #8a8a8a;
    height: 20px;
    width: 140px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Skills-summary .skill .item5{
    background: #8a8a8a;
    height: 20px;
    width: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Skills-summary .skill .item6{
    background: #8a8a8a;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Skills-summary .skill .item7{
    background: #8a8a8a;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Skills-summary .skill .item8{
    background: #8a8a8a;
    height: 20px;
    width: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Skills-summary .skill .item9{
    background: #8a8a8a;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Skills-summary .skill .item div span{
    color: #fff;
}

.main-infor #boat{
    margin-top: 19px;
    margin-left: 20px;
    height: 300px;
    transform: translateX(-700px);
}