<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Morchor Morefun</title>
  <link rel="stylesheet" href="../../static/css/base.css">
</head>

<body>
  <header>
    <img src="../../static/img/logo2.png" id="logo">
    <nav class="navigation">
      <a href="http://localhost:56733/project/home">
        Home
      </a>
      {% if current_user.is_authenticated %}
      <a href="http://localhost:56733/project/profile">
        Profile
      </a>
      {% endif %}
      <a href="http://localhost:56733/project/review">
        Review
      </a>
      <a href="http://localhost:56733/project/problems">
        Notify
      </a>
      {% if not current_user.is_authenticated %}
      <button class="btnLogin-popup">Login</button>
      {% else %}
      <button class="btnLogout" onclick="location.href='/project/logout';">Logout</button>
      {% endif %}
    </nav>
  </header>
  <div class="alert-box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i = 0; i < messages.length; i++) {
        alert(messages[i]);
      }
    </script>
    {% endif %}
    {% endwith %}
  </div>
  <div class="wrapper">
    <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>
    <div class="form-box login">
      <h2>Login</h2>
      <form action="/project/login" method="POST">
        <div class="input-box">
          <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
          <input type="email" name="email" required>
          <label>Email</label>
        </div>
        <div class="input-box">
          <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
          <input type="password" name="password" required>
          <label>Password</label>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="SSO-login">
          <a href='/google'><ion-icon name="logo-google"></ion-icon></a>
        </div>
        <div class="login-register">
          <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
        </div>
      </form>
    </div>

    <div class="form-box register">
      <h2>Register</h2>
      <form action="/project/signup" method="POST">
        <div class="input-box">
          <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
          <input type="text" name="name" required>
          <label>Username</label>
        </div>
        <div class="input-box">
          <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
          <input type="email" name="email" required>
          <label>Email</label>
        </div>
        <div class="input-box">
          <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
          <input type="password" name="password" required>
          <label>Password</label>
        </div>
        <button type="submit" class="btn">Register</button>
        <div class="login-register">
          <p>Already have an account? <a href="#" class="login-link">Login</a></p>
        </div>
      </form>
    </div>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="../../static/js/base.js"></script>
</body>

</html>