{% extends "project_flask/base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/home.css">
<div class="bgimage">
    <div class="text">
        <h4> NEWS * REPORTS * REVIEW</h4>
        <h1> NOTIFY & REVIEW </h1>
        <h3> WEBSITE FOR NOTIFYING NEWS AND REVIEW IN CHIANGMAI UNIVERSITY</h3>
        <div>
            <a href="http://localhost:56733/project/problems">
                <button class="btn-n"> Notify </button>
            </a>
            <a href="http://localhost:56733/project/review">
                <button class="btn-n"> Review</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}