{% extends "project_flask/base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link rel="stylesheet" href="../../static/css/profile.css">
<div class="profilee">
  <h1 class="title">
    Change Profile
  </h1>
  <div class="">
    <div class="form-box">
      <div class="img-user">
        <img id="Profilee" src="{{ url_for('display_image', filename=current_user.avatar_url) }}">
      </div>
      <form method="POST" enctype="multipart/form-data">
        <div id="email-name">
          <div class="input-box">
            <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
            <input type="text" name="name" value="{{ current_user.name }}" required>
            <label>Username</label>
          </div>
          <div class="input-box">
            <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
            <input type="email" name="email" value="{{ current_user.email }}" required>
            <label>Email</label>
          </div>
          <div id="input-file">
            <input id="file-input" type="file" name="file" value="">
            <label for="file-input">Select some picture</label>
            <span id="file-nameee">
              <span id="file-name">None</span>
            </span>
          </div>
          <input class="button is-block is-info is-large is-fullwidth btn" type="button" name="button"
            onclick="hidebottom()" value="Confirm">
        </div>
        <input class="input is-large" type="hidden" name="email_old" value="{{ current_user.email }}" autofocus="">
        <div id="password" hidden="hidden">
          <div class="input-box">
            <span class="icon"><ion-icon name="key-outline"></ion-icon></span>
            <input type="password" name="password" value="">
            <label>Confirm Password</label>
          </div>
          <div class="field">
            <div class="control">

            </div>
          </div>
          <button class="button is-block is-info is-large is-fullwidth btn">Change Profile</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  let inputfile = document.getElementById('file-input');
  let fileNameField = document.getElementById('file-name')
  inputfile.addEventListener('change', function (event) {
    let uploadedFileName = event.target.files[0].name;
    fileNameField.textContent = uploadedFileName;
  });

  function hidebottom() {
    if ($('#password').attr('hidden')) {
      $('#email-name').attr('hidden', 'hidden');
      $('#password').removeAttr('hidden');
    } else {
      $('#password').attr('hidden', 'hidden');
      $('#email-name').removeAttr('hidden');
    }
  }
  $(document).ready(function () {
    var x = '{{ current_user.avatar_url }}'
    if ( x.slice(0, 5) == 'https' ){
      $('#Profilee').attr("src","{{ current_user.avatar_url }}")
    }
  });

</script>
{% endblock %}